.wrapper {
  margin-left: 80px;
  margin-top: 120px;
}

.title {
  font-size: 48px;
  display: flex;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  margin-left: 40px;
  width: max-content;
}

.logo {
  margin-right: 30px;
}
