.container {
  position: relative;
  width: 400px;
}

.img {
  width: 400px;
  height: 150px;
  border-radius: 10px;
  opacity: 80%;
}

.text {
  color: #efefef;
  width: max-width;
  height: 100%;
  font-size: 30px;
  border-radius: 5px;
  text-align: left;
  position: absolute;
  top: 0px;
  right: 50px;
  width: max-content;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
}
