.container {
  margin-top: 20px;
  margin-left: 25px;
}

.img {
  width: 350px;
  height: 150px;
  border-radius: 10px;
  opacity: 80%;
}

.text {
  color: #efefef;
  height: 30px;
  font-size: 30px;
  border-radius: 5px;
  position: fixed;
  margin-top: -50px;
  margin-left: 200px;
  width: max-content;
}
